*/config/development
*/config/testing
*/config/production
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

**/.DS_Store
**/*.p12
/vendor
system
tests/build
.phpunit.result.cache

docker-compose.yml
phpdocker
