<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="tests/bootstrap.php" backupGlobals="true" colors="true">
  <testsuites>
    <testsuite name="CI-Starter-Tests">
      <directory suffix="test.php">./tests</directory>
	    <exclude>./tests/core</exclude>
    </testsuite>
  </testsuites>
</phpunit>