<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="Bootstrap.php" backupGlobals="true" colors="true">
  <testsuites>
    <testsuite name="CI-Starter-Tests">
      <directory suffix="test.php">./</directory>
	    <exclude>./tests/ciphpunit</exclude>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">../application/controllers</directory>
      <directory suffix=".php">../application/models</directory>
      <directory suffix=".php">../application/views</directory>
      <directory suffix=".php">../application/libraries</directory>
      <directory suffix=".php">../application/helpers</directory>
      <directory suffix=".php">../application/hooks</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="./build/coverage"/>
    <log type="coverage-clover" target="./build/logs/clover.xml"/>
    <log type="junit" target="./build/logs/junit.xml"/>
  </logging>
</phpunit>